# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

# ==========================
# Ambientes
# ==========================
.colab/
runs/

# ==========================
# Sistema Operacional
# ==========================
*.DS_Store

# ==========================
# Datasets e arquivos grandes
# ==========================
7iadt_hackathon_tm/data/raw/software-architecture-dataset.zip

# Opcional: ignorar todos os arquivos ZIP
# (ative apenas se você nunca pretende versionar arquivos .zip)
# *.zip
